<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: .content-wrapper}, ~{:: #js})}">

<head>
    <title th:text="${movie.title}">Thực hành làm ứng dụng Meal Finder API với Javascript (Phần 2)</title>

    <th:block id="css">
        <link rel="stylesheet" th:href="@{/admin-assets/admin-lte/plugins/select2/css/select2.min.css}"/>
        <link rel="stylesheet" th:href="@{/admin-assets/assets/css/style.css}">
    </th:block>
</head>

<body>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/admin/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/admin/movies">Danh sách phim</a>
                        </li>
                        <li class="breadcrumb-item active" th:text="${movie.title}">
                            Thực hành làm ứng dụng Meal Finder API
                            với Javascript (Phần 2)
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row py-2">
                <div class="col-6">
                    <a href="/admin/movies" type="button" class="btn btn-default">
                        <i class="fas fa-chevron-left"></i> Quay lại
                    </a>
                    <button type="button" class="btn btn-info px-4" id="btn-update">
                        Cập nhật
                    </button>
                </div>

                <div class="col-6 d-flex justify-content-end">
                    <button type="button" class="btn btn-danger px-4" id="btn-delete">
                        Xóa
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form id="form-update-movie">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label>Tiêu đề</label>
                                            <input type="text" class="form-control" id="title" name="title"
                                                   th:value="${movie.title}"/>
                                        </div>

                                        <div class="form-group">
                                            <label>Mô tả ngắn</label>
                                            <textarea id="description" class="form-control" rows="6"
                                                      name="description" th:text="${movie.description}"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label>Đạo diễn</label>
                                            <div class="select2-purple">
                                                <select class="form-control select2" id="director" multiple="multiple">
                                                    <option th:each="director : ${directorList}"
                                                            th:value="${director.id}"
                                                            th:text="${director.name}"
                                                            th:selected="${movie.directors.contains(director)}">Alabama
                                                    </option>
                                                </select>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label>Diễn viên</label>
                                            <div class="select2-purple">
                                                <select class="form-control select2" id="actor" multiple="multiple">
                                                    <option th:each="actor : ${actorList}"
                                                            th:value="${actor.id}"
                                                            th:text="${actor.name}"
                                                            th:selected="${movie.actors.contains(actor)}">Alabama
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Thể loại</label>
                                            <div class="select2-purple">
                                                <select class="form-control select2" id="genre" multiple="multiple">
                                                    <option th:each="genre : ${genreList}"
                                                            th:value="${genre.id}"
                                                            th:text="${genre.name}"
                                                            th:selected="${movie.genres.contains(genre)}">Alabama
                                                    </option>
                                                </select>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Năm phát hành</label>
                                            <input type="text" class="form-control" id="releaseYear" name="releaseYear"
                                                   th:value="${movie.releaseYear}"/>
                                        </div>

                                        <div class="form-group">
                                            <label>Trạng thái</label>
                                            <select id="status" class="form-control" name="status">
                                                <option value="false" th:selected="not ${movie.status}">
                                                    Nháp
                                                </option>
                                                <option value="true" th:selected="${movie.status}">
                                                    Công khai
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Loại phim</label>
                                            <select id="type" class="form-control" name="type">
                                                <option value="PHIM_LE"
                                                        th:selected="${movie.type.toString() == 'PHIM_LE'}">Phim lẻ
                                                </option>
                                                <option value="PHIM_CHIEU_RAP"
                                                        th:selected="${movie.type.toString() == 'PHIM_CHIEU_RAP'}">Phim
                                                    chiếu rạp
                                                </option>
                                                <option value="PHIM_BO"
                                                        th:selected="${movie.type.toString() == 'PHIM_BO'}">Phim bộ
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <div class="image-preview-container mb-3">
                                                <img th:src="${movie.poster}" alt="" id="image-preview"/>
                                            </div>
                                            <label for="image" class="btn btn-info btn-flat rounded">
                                                Chọn hình ảnh
                                            </label>
                                            <input type="file" id="image" class="d-none">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mb-3">Danh sách tập phim</h4>
                            <table id="table-director" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th style="width: 5%">#</th>
                                    <th style="width: 20%">Tên tập phim</th>
                                    <th style="width: 40%">Link</th>
                                    <th style="width: 10%">Thời lượng</th>
                                    <th style="width: 10%">Trạng thái</th>
                                    <th style="width: 15%"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="episode : ${episodeList}">
                                    <td th:text="${episode.displayOrder}">#</td>
                                    <td th:text="${episode.name}">Tên tập phim</td>
                                    <td th:text="${episode.videoUrl}">Link</td>
                                    <td th:text="${episode.duration}">Thời lượng</td>
                                    <td th:text="${episode.status ? 'Công khai' : 'Nháp'}">Trạng thái</td>
                                    <td>
                                        <label th:for="|episode-input-${episode.id}|"
                                               class="btn btn-primary btn-sm mb-0"><i
                                                class="fas fa-upload"></i></label>
                                        <input type="file" class="d-none" th:id="|episode-input-${episode.id}|"
                                               th:onchange="|uploadVideo(event, ${episode.id})|">

                                        <button class="btn btn-warning btn-sm text-white"
                                                th:onclick="|previewVideo(${episode.id})|">
                                            <i class="fas fa-play"></i>
                                        </button>
                                        <button class="btn btn-success btn-sm"><i class="fas fa-pencil-alt"></i>
                                        </button>
                                        <button class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="modal-preview-video">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Video Preview</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <video width="100%" controls>
                        <source src="" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>

    </div>
</div>

<th:block id="js">
    <script th:src="@{/admin-assets/admin-lte/plugins/select2/js/select2.full.min.js}"></script>
    <script th:inline="javascript">
        const episodeList = [[${episodeList}]];

        $(".select2").select2();

        // Xem trước video
        const previewVideo = (episodeId) => {
            // Tìm kiếm tập phim theo id
            const episode = episodeList.find(e => e.id === episodeId)

            // Lấy ra thẻ video và gán src cho nó
            const videoEl = document.querySelector('#modal-preview-video video')
            videoEl.src = episode.videoUrl

            // Hiển thị modal
            $('#modal-preview-video').modal('show')
        }

        // Nếu đóng modal preview video thì reset lại src của video
        $('#modal-preview-video').on('hidden.bs.modal', function (event) {
            const videoEl = document.querySelector('#modal-preview-video video')
            videoEl.src = "";
        })

        // Upload video cho tập phim
        const uploadVideo = (event, episodeId) => {
            // Lấy ra file vừa được chọn
            const file = event.target.files[0]

            // Tạo đối tượng form data để đưa dữ liệu vào gửi đi
            const formData = new FormData()
            formData.append('video', file)

            // Gọi api sử dung axios
            axios.post(`/api/admin/episodes/${episodeId}/upload-video`, formData)
                .then(res => {
                    toastr.success('Upload video thành công.')

                    // Reload lại trang sau 1.5s
                    setTimeout(() => {
                        location.reload()
                    }, 1500)
                })
                .catch(err => {
                    console.log(err)
                    toastr.error(err.response.data.message)
                })
        }
    </script>
</th:block>

</body>

</html>