<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: .content-wrapper}, ~{:: #js})}">

<head>
    <title th:text="${movie.title}">Thực hành làm ứng dụng Meal Finder API với Javascript (Phần 2)</title>

    <th:block id="css">
        <link rel="stylesheet" th:href="@{/admin-assets/admin-lte/plugins/select2/css/select2.min.css}"/>
        <link rel="stylesheet" th:href="@{/admin-assets/assets/css/style.css}">
    </th:block>
</head>

<body>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/admin/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/admin/movies">Danh sách phim</a>
                        </li>
                        <li class="breadcrumb-item active" th:text="${movie.title}">
                            Thực hành làm ứng dụng Meal Finder API
                            với Javascript (Phần 2)
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row py-2">
                <div class="col-6">
                    <a href="/admin/movies" type="button" class="btn btn-default">
                        <i class="fas fa-chevron-left"></i> Quay lại
                    </a>
                    <button type="button" class="btn btn-info px-4" id="btn-update">
                        Cập nhật
                    </button>
                </div>

                <div class="col-6 d-flex justify-content-end">
                    <button type="button" class="btn btn-danger px-4" id="btn-delete">
                        Xóa
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form id="form-update-movie">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label>Tiêu đề</label>
                                            <input type="text" class="form-control" id="title" name="title"
                                                   th:value="${movie.title}"/>
                                        </div>

                                        <div class="form-group">
                                            <label>Mô tả ngắn</label>
                                            <textarea id="description" class="form-control" rows="6"
                                                      name="description" th:text="${movie.description}"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label>Đạo diễn</label>
                                            <div class="select2-purple">
                                                <select class="form-control select2" id="director" multiple="multiple">
                                                    <option th:each="director : ${directorList}"
                                                            th:value="${director.id}"
                                                            th:text="${director.name}"
                                                            th:selected="${movie.directors.contains(director)}">Alabama
                                                    </option>
                                                </select>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label>Diễn viên</label>
                                            <div class="select2-purple">
                                                <select class="form-control select2" id="actor" multiple="multiple">
                                                    <option th:each="actor : ${actorList}"
                                                            th:value="${actor.id}"
                                                            th:text="${actor.name}"
                                                            th:selected="${movie.actors.contains(actor)}">Alabama</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Thể loại</label>
                                            <div class="select2-purple">
                                                <select class="form-control select2" id="genre" multiple="multiple">
                                                    <option th:each="genre : ${genreList}"
                                                            th:value="${genre.id}"
                                                            th:text="${genre.name}"
                                                            th:selected="${movie.genres.contains(genre)}">Alabama</option>
                                                </select>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Trạng thái</label>
                                            <select id="status" class="form-control" name="status">
                                                <option value="false" th:selected="not ${movie.status}">
                                                    Nháp
                                                </option>
                                                <option value="true" th:selected="${movie.status}">
                                                    Công khai
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Loại phim</label>
                                            <select id="type" class="form-control" name="type">
                                                <option value="PHIM_LE" th:selected="${movie.type.toString() == 'PHIM_LE'}">Phim lẻ</option>
                                                <option value="PHIM_CHIEU_RAP" th:selected="${movie.type.toString() == 'PHIM_CHIEU_RAP'}">Phim chiếu rạp</option>
                                                <option value="PHIM_BO" th:selected="${movie.type.toString() == 'PHIM_BO'}">Phim bộ</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <div class="image-preview-container mb-3">
                                                <img th:src="${movie.poster}" alt="" id="image-preview"/>
                                            </div>
                                            <label for="image" class="btn btn-info btn-flat rounded">
                                                Chọn hình ảnh
                                            </label>
                                            <input type="file" id="image" class="d-none">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<th:block id="js">
    <script th:src="@{/admin-assets/admin-lte/plugins/select2/js/select2.full.min.js}"></script>
    <script th:inline="javascript">
        $(".select2").select2();
    </script>
</th:block>

</body>

</html>